@media(min-width: 1400px) {
    .cards {
        width: 600px !important;
        /*max-height: 270px !important;*/
    }
}

@media(max-width: 900px) {
    .big {
        justify-content: center;
    }
}

.cards img:hover {
    transform: translateY(-10px);
} 


.read a {
    position: absolute;
    left: 140px;
}
.read i {
    margin-left: 10px;
    transform: rotate(-45deg);
    transition: 0.5s all ease;
}
.read:hover i {
    transform: translateY(-3px) translateX(3px) rotate(-45deg);
    transition: 0.5s all ease;
}



@media (min-width:200px) and (max-width:1200px) {
       .read a {
            position: absolute;
            left: 20px;
       }
}